<!DOCTYPE html>
<html>
	<head>
		<title>CSC309 Community Fund</title>
		<meta name="description" content="CSC309 Individual Project">
		<link rel="stylesheet" href="/src/packages/bootstrap.min.css"/>
		<link rel="stylesheet" href="/src/packages/angular-toastr.min.css"/>
		<link rel="stylesheet" href="/src/packages/style.css"/>
	</head>
	<body id="controller" ng-app="main" ng-controller="MainController">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">CSC309 Community Fund</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="logout()">Log out</button>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="profile()">View profile</button>
				</div>
				<div class="nav navbar-nav navbar-right">
					<button class="btn btn-default" ng-click="create()">Start new project</button>
				</div>
			</div>
		</nav>
		<div class="container">
			<div ng-if="location.length == 0 || interests.length == 0" class="text-center">
				<h2>Welcome to Community Fund</h2>
				<h1>{{username}}</h1>
				<br><br>
				<div class="main-container btn btn-success" ng-click="profileSetup()">Get started</div>
			</div>
			<div ng-if="location.length > 0">
				<div ng-if="interests.length > 0">
					<div ng-if="userProjects.length == 0" class="text-center">
						<h2>Hello {{username}}, come share your ideas!</h2>
						<div class="main-container btn btn-success" ng-click="create()">Start a project</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="userProjects.length > 0" class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn disabled"><b>Your projects</b></div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Current Funding</th>
							<th>Fund Goal</th>
							<th># Funders</th>
							<th>Category</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th>Date created</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in userProjects track by $index">
							<td class="col-md-2">{{project.title}}</td>
							<td class="col-md-1">${{project.funds.raised}}</td>
							<td class="col-md-1">${{project.funds.goal}}</td>
							<td class="col-md-1">{{project.numFunders}}</td>
							<td class="col-md-2"><div class="tag category blue pull-left" ng-repeat="tag in project.category track by $index">{{tag}}</div></td>
							<td class="col-md-1">{{project.rating.likes}}</td>
							<td class="col-md-1">{{project.rating.dislikes}}</td>
							<td class="col-md-1">{{project.date.parsedDate}}</td>
							<td class="pull-right"><button class="btn btn-primary" ng-click="view(project._id)">View</button></td>
							<td class="pull-right"><button class="btn btn-danger" ng-click="remove(project._id)">Remove</button></td>
							<td class="pull-right"><button class="btn btn-warning" ng-click="edit(project._id, project.title, project.description, project.funds.goal)">Edit</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div ng-if="otherProjects.length > 0" class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn disabled"><b>Your projects</b></div>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Title</th>
							<th>Current Funding</th>
							<th>Fund Goal</th>
							<th># Funders</th>
							<th>Category</th>
							<th>Likes</th>
							<th>Dislikes</th>
							<th>Date created</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="project in otherProjects track by $index">
							<td class="col-md-2">{{project.title}}</td>
							<td class="col-md-1">${{project.funds.raised}}</td>
							<td class="col-md-1">${{project.funds.goal}}</td>
							<td class="col-md-1">{{project.numFunders}}</td>
							<td class="col-md-2"><div class="tag category blue pull-left" ng-repeat="tag in project.category track by $index">{{tag}}</div></td>
							<td class="col-md-1">{{project.rating.likes}}</td>
							<td class="col-md-1">{{project.rating.dislikes}}</td>
							<td class="col-md-1">{{project.date.parsedDate}}</td>
							<td class="pull-right"><button class="btn btn-primary" ng-click="view(project._id)">View</button></td>
							<td class="pull-right" ng-if="(ratedDislikes).indexOf(project._id) == -1"><button class="btn btn-default" ng-click="dislike(project._id, project.title, project.description, project.category, project.tags)">Dislike</button></td>
							<td class="pull-right" ng-if="(ratedDislikes).indexOf(project._id) > -1"><button class="btn btn-danger" ng-click="dislike(project._id, project.title, project.description, project.category, project.tags)">Dislike</button></td>
							<td class="pull-right" ng-if="(ratedLikes).indexOf(project._id) == -1"><button class="btn btn-default" ng-click="like(project._id, project.title, project.description, project.category, project.tags)">Like</button></td>
							<td class="pull-right" ng-if="(ratedLikes).indexOf(project._id) > -1"><button class="btn btn-success" ng-click="like(project._id, project.title, project.description, project.category, project.tags)">Like</button></td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<script src="/src/packages/jquery.min.js"></script>
		<script src="/src/packages/bootstrap.min.js"></script>
		<script src="/src/packages/angular.min.js"></script>
		<script src="/src/packages/angular-animate.min.js"></script>
		<script src="/src/packages/ui-bootstrap.min.js"></script>
		<script src="/src/packages/toastr.min.js"></script>
		<script src="/src/packages/angular-toastr.tpls.min.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
		<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
		<script src="/src/controllers/main-controller.js"></script>
	</body>
</html>