table, table>thead, table>thead>tr, table>thead>tr>th, .table, .table>thead, .table>thead>tr, .table>thead>tr>th {
	border: 0;
}

table>tbody, table>tbody>tr, table>tbody>tr>td, .table>tbody, .table>tbody>tr, .table>tbody>tr>td {
	border: 0;
}

table>tbody>tr>td, .table>tbody>tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.table>tbody>tr>td {
	border: 0;
}

.main-container {
	padding: 0 30px 0 30px;
	font-size: 3em;
	margin-bottom: 10%;
}

.container {
	margin-left: 5%;
	margin-right: 5%;
	width: auto;
}

.nav .btn {
	position: relative;
	transform: translateY(25%);
	margin-right: 5px;
}